body {
	font-family :Arial, Helvetica, sans-serif; 	
	font-size:100%;

	TEXT-ALIGN: center;
	vertical-align:middle;
 background:url(../img/whroid_bg.jpg); 
    	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position:100% 100%;
}

.common-stl{
	background:#FFF;
	padding:2em 0;
	text-align:center;
}
.common-transport
{
	padding:0px 10px 0 10px;
}
.common-transport h3
{
	color:#fff;
}
.common-transport h1
{
	color:#fff;

	}
.common-cm h1 span
{
	color: #FD0;
}



.wrap {
	width:95%;

	transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
}
.about_page h4{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:1.4em;
	color:#505A5A;
	line-height:1.6em;
}
.image {
	clear: both;
	padding: 0px;
	margin-top: 20px;
	padding:1.5%;
}
.grid {
	display: block;
	float:left;
	margin:2% 0 2% 0%;
}
.images_3_of_1  img {
	max-width:100%;
	display:block;
	padding:4px;
	border: 1px solid #EBEBEB;
	background: #FFF;
}
.span_2_of_3  h3{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#FD0;
	margin-bottom:0.3em;
	font-size:1.1em;
	font-weight : normal;
	margin-top: 0px;
	text-align:left;
}
.span_2_of_3  p  {
	font-size:0.8em;
	padding:5px 0;
	color:#777;
	line-height: 1.8em;
	text-align:left; 	
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}


.item-child
{
	width:100%;
}
.item-child h3
{
	color:#5E5E5E;
	padding-bottom:5px;
	width:auto;
	text-align:center;
	vertical-align:middle;
	margin-top: 0px;
	border-bottom:1px solid #DDD;
	margin-bottom:10px;
}
.item-child p span
{
	color: #FD0;
	font-size:1.6em;

}